@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
    display: flex;
}

img#img {
    width: 50%;
}

section#conteudo div {
    width: 50%;
    display: flex;
    justify-content: center;    
}

iframe#frame-spec {
    width: 400px;
    height: 280px;
    border: none;
}
